body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round'%3e%3cpath d='M260 113.47 L260 446.52' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M280 222.74 L280 337.26' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M300 229.02 L300 330.98' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M320 125.63 L320 434.38' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M340 209.88 L340 350.12' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M360 224.56 L360 335.44' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M380 134.57 L380 425.43' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M400 231.01 L400 328.99' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M420 172.55 L420 387.45' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M440 200.45 L440 359.55' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M460 238.87 L460 321.13' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M480 113.75 L480 446.25' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M500 217.39 L500 342.61' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M520 260.98 L520 299.02' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M540 181.5 L540 378.5' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M560 259.97 L560 300.03' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M580 221.02 L580 338.98' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M600 204.06 L600 355.94' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M620 128.16 L620 431.85' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M640 202.53 L640 357.47' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M660 133.46 L660 426.54' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M680 207.05 L680 352.95' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M700 250.71 L700 309.29' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M720 141.03 L720 418.97' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M740 116.69 L740 443.31' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M760 209.17 L760 350.83' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M780 219.22 L780 340.77' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M800 156.81 L800 403.19' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M820 190.22 L820 369.78' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M840 168.03 L840 391.97' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M860 138.18 L860 421.82' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M880 207.75 L880 352.25' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M900 156.39 L900 403.61' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M920 225.91 L920 334.08' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M940 245.81 L940 314.19' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M960 232.34 L960 327.66' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M980 191 L980 369' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M1000 211.83 L1000 348.17' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M1020 150.48 L1020 409.52' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M1040 154.16 L1040 405.85' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M1060 204.91 L1060 355.09' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M1080 145.38 L1080 414.63' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M1100 198.34 L1100 361.66' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M1120 205.51 L1120 354.49' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3cpath d='M1140 234.78 L1140 325.22' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M1160 224.67 L1160 335.33' stroke-width='15' stroke='%23dd1133'%3e%3c/path%3e%3cpath d='M1180 234.88 L1180 325.12' stroke-width='15' stroke='%233a7cc3'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 4px 10px black;
}

textarea{
    margin: 20px 0;
    height: 20%;
    width: 30%;
    border: none;
    box-shadow: 5px 6px 10px black;
    outline: none;
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    box-shadow: 5px 6px 10px black;
}



